body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.cell {
    font-family: "Arial", sans-serif;
    width: 100%;
	max-width: 100px;
    aspect-ratio : 1 / 1;
    border: 2px solid #ffc830;
    cursor: pointer;
    line-height: 150%;
    font-size: 400%;
	color: #f2eddf;
}


.gtitle {
    font-size: 500%;
    color: #d7a32f;
    margin: 3% auto;
}

.gcontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 30%;
	max-width: 302px;
    margin: 3% auto;
    background-color: #11215a;
    color: #04c0b2;
}

.gstatus {
    font-size: 300%;
    color: #d7a32f;
    margin: 3% auto;
	bottom: 0%;
    position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: pre-line;
}