.number{
  width: 6vw;
  max-height: 6vw;
  max-width: 70px;
  max-height: 70px;
  font-weight: bold;
  font-size: 4vw;
  background-color: tomato;
  transition: all .8s ease;
  position: absolute;
  top: 300vh;
  left: 50vw;
  border-radius: 100%;
}
@media screen and (min-width: 1200px) {
  .number {
     font-size: 55px;
  }
}
button{
  margin: 2vw 0;
}
body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.gtitle {
    font-size: 4.5vw;
    color: #d7a32f;
    margin: 3vw auto;
}

.gcontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80vw;
    margin: 3vw auto;
    background-color: #11215a;
    color: #04c0b2;
}

.gstatus {
    font-size: 4.5vw;
    color: #d7a32f;
    margin: 3vw auto;
	bottom: 0%;
	left: 50vw;
	white-space: pre-line;
	position: absolute;
	transform: translate(-50%, 0);
}
.grestart {
    background-color: #f7e4ac;
    width: 12vw;
    height: 5vw;
    font-size: 3vw;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86e43;
	position: absolute;
	top: 80vh;
	left: 10vw;
	transform: translate(-50%, 0);
}