.number{
  width: 6%;
  max-width: 70px;
  aspect-ratio : 1 / 1;
  font-weight: bold;
  font-size: 3vw;
  background-color: tomato;
  transition: all .8s ease;
  position: absolute;
  top: 300%;
  left: 50%;
  border-radius: 60%;
}
button{
  margin: 2% 0;
}
body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.gtitle {
    font-size: 4.5vw;
    color: #d7a32f;
    margin: 3% auto;
}

.gcontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80%;
    margin: 3% auto;
    background-color: #11215a;
    color: #04c0b2;
}

.gstatus {
    font-size: 4.5vw;
    color: #d7a32f;
    margin: 3% auto;
	bottom: 0%;
	left: 50vw;
	white-space: pre-line;
	padding: 60vh 0;
}